Source: libledmux-chipkit
Section: libraries
Priority: extra
XBSC-Group: Display
XBSC-Family: pic32
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libledmux-chipkit
Architecture: all
Provides: LEDMux.h
Depends: chipkit
Description: LEDMux library for chipkit

